@model InAndOut.Models.Item

<form method="POST" asp-action="Create">
    <div class="container">
        <div>
            <h3>Add An Item</h3>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ItemName"></label>
            </div>
            <div class="col-4">
                 <label asp-for="Borrower"></label>
            </div>
            <div class="col-4">
                  <label asp-for="Lender"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
               <input asp-for="ItemName" class="form-control"/>
            </div>
            <div class="col-4">
                  <input asp-for="Borrower" class="form-control"/>
            </div>
            <div class="col-4">
                    <input asp-for="Lender" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-8 offset-2 row">
                <div class="col">
                    <input class="btn btn-info w-75" type="submit" value="Create"/>
                </div>
                <div class="col">
                    <a asp-controller="Item" asp-action="Index" class="btn btn-danger  w-75"  >Go Back</a>
                </div>
            </div>
       
        </div>
    </div>


</form>